html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fefefe;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  color: #3c3c3c;
  font-family: 'Playfair Display', serif;
}

h2 {
  text-align: center;
  padding: 50px 0;
}

.main__heading {
 color: #000;
 font-weight: 700;
 font-size: 2.5rem;
 display: block;
}

.main__heading::before, .main__heading::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.main__heading--span {
  display: block;
  color: #000;
}

.main {
  margin-top: 60px;
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  display: grid;
  grid-template-areas:"header header"
  "articles articles"
  "footer footer";
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.header__main {
  grid-area: header;
}

.articles {
  grid-area: articles;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.footer {
  grid-area: footer;
}

.grid__item {
  padding: 20px;
  background-color: tomato;
}

article h3 {
  text-transform: uppercase;
}
.header {
  background: #fff;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* NAVIGATION */

.navigation {
  padding: 16px;
  display: none;
}

.navigation-link {
  margin: 0 0 20px 0;
  display: block;
}

.navigation-link:hover {
  color: aquamarine;
}

.navigation-link:focus {
  border: 3px solid aquamarine;
}

.navigation-link::before {
  content: '-> ';
}

.navigation--open {
  display: block;
}

.navigation.navigation--js.navigation--open {
  z-index: 100000;
}

.article__title {
  text-decoration: underline;
}

.table {
  width: 100%;
}

.form {
}

.form__item {
  display: block;
  width: 100%;
}

.form label {
  display: block;
}

.form textarea {
  width: 100%;
}

.form__item:focus {
  background: yellow;
}

.grid__item:first-child, .grid__item:last-child {
  background: yellow;
}

/* HAMBURGER MENU */
.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .navigation {
    padding: 16px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items:center;
  }

  .navigation-link::before {
    content: '';
  }

  .main, .articles {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    background: #ccc;
  }
}

.klasa-z-js {
  background-color: yellow;
}